body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #999999;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 
  color: black;
}

h1 {
text-align: center;
margin-top: 4%;
}
h2 {
text-align: center;
}
#home, #sobre, #contato, #saibamais{
 
}
#home h1{
 background-color: #ddd;
}
#sobre h1{
 background-color: #ddd;
}
#contato h1{
 background-color: #ddd;
}
#saibamais h1{
 background-color: #ddd;
}
form{
margin-left:20px;
}
a{
margin-left:20px;
color: blue;
}
h3{
align:center;
margin-left:auto;
margin-right:auto;
}
iframe{
margin-left:20px;
}
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#home h3{
text-align: center;
}
.iframe-container {
		text-align:center;
  		width:100%;
  }
  
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align:justify;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #999999;
  color: white;
}