
#imagemgeral{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	align-item: center;
	padding: 
}

#menu{
	display: flex ;
    justify-content: space-between;
    margin-bottom: 30px;
}

a{
    
    color: blue;
    text-decoration: unset;
}

.imgReportagem1{
	padding: 30px;
}

#descricao{

}

#Titulodestaque{
	
}

#Destaque{
	
}

#Coronavirus{
	
}

#Contato{
	
}

#logolinkedin{
	
}